@*asp-page-handler 앵커태그 사용시 handler와 id가 addressbar에 드러나는것을 숨기고 '/'로 대체*@
@page "{postNumber:int?}"
@model NoName.Pages.Board.DetailModel
@{
}
    <head>
        <script type="text/javascript" src="~/js/Board.js"></script>
    </head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <div class="card card-body">
                    <h3 class="font-weight-bold">직업게시판</h3>
                </div>
                <div class="card" style="margin-top:10px">
                    <div class="card-header bg-white">
                        <p>
                            익명
                            <a href="#reportModal" class="badge badge-light float-right" data-toggle="modal">신고</a>
                            <a href="#messageModal" class="badge badge-light float-right" data-toggle="modal">쪽지</a>
                        </p>@Model.TablePost.CreateTime</p>
                    </div>
                    <div class=" card-body" id="post-context" style="height:200px;">
                        <div class="card-title ">
                            <h5 class="font-weight-bold">
                                @Model.TablePost.Title
                                @* 글 상세의 사진,좋아요,댓글 수 ,스크랩 *@
                                <a class="badge badge-light float-right fas fa-bookmark text-warning">34</a>
                                <span class="badge badge-light float-right fas fa-comment text-info">12</span>

                                <a class="badge badge-light float-right fas fa-heart text-danger">22</a>
                                <span class="badge badge-light float-right far fa-images text-success">3</span>
                            </h5>
                        </div>
                        <div class="card-text">
                            @Model.TablePost.Content
                        </div>
                    </div>
                    @*댓글 작성란 *@
                    <div class="card-footer bg-white">
                        <form class="input-group m-lg-0" method="post">
                            <input type="text" asp-for="TableComment.Content" class="form-control" placeholder="댓글을 입력하세요.">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-dark fas fa-pen-fancy text-primary" type="submit"></button>
                            </div>
                        </form>
                    </div>
                    @*댓글 목록*@
                    <div class="list-group">
                        @for (int i = 0; i < Model.CommentList.Count; i++)
                        {
                        <div class="list-group-item border">
                            <p class="text-muted">
                                익명
                                <a href="#reportModal" class="badge badge-light float-right" data-toggle="modal">신고</a>
                                <a href="#messageModal" class="badge badge-light float-right" data-toggle="modal">쪽지</a>

                                <a class="badge badge-light float-right">공감</a>
                                <a href="#childCommentArea" class="badge badge-light float-right" data-toggle="collapse">대댓글</a>
                            </p>

                            <p>
                                @Model.CommentList[i].Content

                            </p>
                            <p class="text-primary">
                                @Model.CommentList[i].CreatedTime

                                <i class="fas fa-heart text-danger">54</i>
                            </p>
                            <div class="card card-body border mt-4 ml-4">
                                대댓글
                            </div>
                            <div class="input-group mb-2 mt-2 ml-4 collapse" id="childCommentArea" style="width:96%">
                                <input type="text" class="form-control" placeholder="댓글을 입력하세요.">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-dark fas fa-pen-fancy text-primary" type="submit"></button>
                                </div>
                            </div>
                            @*쪽지 modal*@
                            <div class="modal" id="messageModal">
                                <partial name="MessageModal" />
                            </div>
                            @*신고 modal *@
                            <div class="modal" id="reportModal">
                                <partial name="ReportModal" />
                            </div>
                        </div>
                        }
                    </div>
                </div>
                <a type="button" class="btn btn-outline-dark" asp-page="/Board/Index" style="margin-top:10px;">글 목록</a>
            </div>
            <div class="col-lg-3">
                <partial name="Sidebar" />
            </div>
        </div>
    </div>
</body>