@page  "{SearchString?}"
@model NoName.Pages.Board.FindResultModel
@{
}
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <div class="card card-body">
                    "@Model.SearchString"의 검색 결과
                </div>
                <div class="list-group" id="searchContents">
                    <div class="list-group-item">
                        <div class="row">
                            <span class="col-sm-1">
                                번호
                            </span>
                            <span class="col-sm-9">
                                제목
                            </span>
                            <span class="col-sm-2">
                                작성일
                            </span>
                        </div>
                    </div>
                    @foreach (var item in Model.Pagination)
                    {
                        <a class="list-group-item list-group-item-action"
                           asp-page="/Board/Detail" asp-page-handler="Post" asp-route-postNumber="@item.PostNumber">
                            <div class="row">
                                <span class="col-sm-1">
                                    @Html.DisplayFor(modelItem => item.PostNumber)
                                </span>
                                <span class="col-sm-9">
                                    @*검색어 강조*@
                                    @Html.Raw(System.Text.RegularExpressions.Regex.Replace(item.Title, @Model.SearchString, "<strong>" + @Model.SearchString + "</strong>"))
                                </span>
                                <span class="col-sm-2">
                                    @Html.DisplayFor(modelItem => item.CreateTime)
                                </span>
                            </div>
                        </a>
                        <div class="list-group-item">
                            @*내용의 검색어 강조, 검색어 전후로 500자~로 설정해야 할듯? 20.03.18*@
                            @Html.Raw(System.Text.RegularExpressions.Regex.Replace(item.Content, @Model.SearchString, "<strong>" + @Model.SearchString + "</strong>"))
                        </div>
                    }
                </div>
                <br />
                <div class="container" id="pagination">
                    @*동기식 Partial TagHelper*@
                    <partial name="Pagination" model="Model.Pagination" />
                    @*비동기식 Partial TagHelper
            @await Html.PartialAsync("Pagination", Model.Pagination)*@
                </div>
            </div>
            <div class="col-lg-3 bg-danger">
                <partial name="SideBar" />
            </div>
        </div>
    </div>
</body>