@page "{handler?}/{id?}"
@model NoName.Pages.Board.IndexModel
@{
    int boardCode = Model.CurrentBoard.BoardCode;
    var isUserBoard = !(boardCode < 80) ? "d-none" : "";
    ViewData["BoardPage"] = "/Board/Index";
}
<head>
    <link rel="stylesheet" href="~/css/container.css" />
    @*use javascript about boards*@
    <script type="text/javascript" src="~/js/Board.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <div class="card card-body">
                    <h3 class="font-weight-bold">@Model.CurrentBoard.BoardName</h3>
                </div>
                @*공지사항 류의 게시판에서 숨김*@
                <form class="form-group @isUserBoard" method="post">
                    <input type="text" id="postTitle" asp-for="TablePost.Title" class="form-control mt-3 mb-1" placeholder="글을 작성하세요">
                    <div id="collapseArea" class="form-group collapse">
                        <textarea class="form-control" asp-for="TablePost.Content" placeholder="1. 에티켓을 지켜주세요.&#13;&#10;2. 비방을 삼가해 주세요." rows="7"></textarea>
                    </div>
                    <div id="collapseBtn" class="form-group collapse">
                        <row>
                            <input type="submit" class="btn col-sm-12 btn-light" value="게시">
                        </row>
                    </div>
                </form>
                <div class="list-group mb-2" id="postContents">
                    @foreach (var item in Model.Pagination)
                    {
                        <a class="list-group-item list-group-item-action"
                           asp-page="/Board/Detail" asp-page-handler="Post" asp-route-postNumber="@item.PostNumber">
                            <div class="row">
                                <span class="col-sm-1">
                                    @Html.DisplayFor(modelItem => item.PostNumber)
                                </span>
                                <span class="col-sm-9">
                                    @Html.DisplayFor(modelItem => item.Title)
                                </span>
                                <span class="col-sm-2">
                                    @Html.DisplayFor(modelItem => item.CreateTime)
                                </span>
                            </div>
                        </a>
                    }
                </div>
                <div class="container" id="pagination">
                    @*동기식 Partial TagHelper*@
                    <partial name="Pagination" model="Model.Pagination" view-data="ViewData" />
                    @*비동기식 Partial TagHelper
                    @await Html.PartialAsync("Pagination", Model.Pagination)*@
                </div>
            </div>
            <div class="col-lg-3 bg-danger">
                <partial name="SideBar" />
            </div>
        </div>
    </div>
</body>