@page "{handler?}/{id?}"
@model NoName.Pages.Board.PopularBoardModel
@{
    ViewData["Title"] = "공지사항";
}
<body>
    <div class="notice">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9 bg-warning">
                    <div class="card">
                        <div class="card-body">@ViewData["Title"]</div>
                    </div>
                    <div class="list-group" id="postContents">
                        @foreach (var item in Model.Pagination)
                        {
                            <a class="list-group-item list-group-item-action"
                               asp-page="/Board/Detail" asp-page-handler="Post" asp-route-postNumber="@item.PostNumber">
                                <div class="row">
                                    <span class="col-sm-1">
                                        @Html.DisplayFor(modelItem => item.PostNumber)
                                    </span>
                                    <span class="col-sm-9">
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </span>
                                    <span class="col-sm-2">
                                        @Html.DisplayFor(modelItem => item.CreateTime)
                                    </span>
                                </div>
                            </a>
                        }
                    </div>
                    <div class="card-body text-right">
                        <form method="get">
                            <button class="btn btn-outline-dark" asp-page="/Support/Write">글쓰기</button>
                        </form>
                    </div>
                    <div class="container" id="pagination">
                        @*동기식 Partial TagHelper*@
                        <partial name="Pagination" model="Model.Pagination" />
                        @*비동기식 Partial TagHelper
                            @await Html.PartialAsync("Pagination", Model.Pagination)*@
                    </div>
                </div>
                <div class="col-sm-3 bg-success">
                    <partial name="SideBar" />
                </div>
            </div>
        </div>
    </div>
</body>