@page
@model NoName.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
    int BoardCount = Model.Preview.BoardCount;
}
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            @*가장 왼쪽 col에 row의 크기가 맞춰져서 footer랑 overlapping되는 이슈가 있음. 20.04.01*@
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header bg-white border-0 text-center">
                        <i class="fas fa-user-alt " style="font-size:60px"></i>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title mb-1" style="text-align:center">내 정보</h5>
                        <p class="card-text mb-0" style="text-align:center">홍길동</p>
                        <p class="card-text mb-1" style="text-align:center">hgd111</p>
                        <a class="btn btn-outline-dark float-left px-xl-3 px-lg-2 " asp-area="" asp-page="/Account/Manage/Profile"
                           title="내정보">내 정보</a>
                        <a class="btn btn-outline-dark float-right px-xl-3 px-lg-2" asp-area="" asp-page="/Index">로그아웃</a>
                    </div>
                </div>

                <div class="list-group mt-2">
                    <a class="list-group-item list-group-item-action" asp-area="" asp-page="/MyPage/MyPosts">내가 쓴 글</a>
                    <a class="list-group-item list-group-item-action" asp-area="" asp-page="/MyPage/CommentPost">댓글 단 글</a>
                    <a class="list-group-item list-group-item-action" asp-area="" asp-page="/MyPage/MyScrap">스크랩</a>
                </div>

                <div id="banner"></div>
            </div>
            <div class="col-lg-6">
                <div class="card card-body h-25 bg-warning mb-2">
                    배너
                </div>
                <div class="row">
                    <div class="col-lg-6" id="leftList">
                        @for (int i = 0; i < BoardCount; i += 2)
                        {
                            <div class="card list-group mb-2">
                                <a class="list-group-item list-group-item-action bg-primary text-white"
                                   asp-page="/Board/Index" asp-route-boardId="@Model.Preview[i].BoardId">@Model.Preview[i].BoardName</a>
                                @foreach (var post in Model.Preview[i])
                                {
                                    <a class="list-group-item list-group-item-action" asp-page="/Board/Detail" asp-route-postNumber="@post.PostNumber">@post.Title</a>
                                }
                            </div>
                        }
                    </div>
                    <div class="col-lg-6" id="rightList">
                        @for (int i = 1; i < BoardCount; i += 2)
                        {
                            <div class="card list-group mb-2">
                                <a class="list-group-item list-group-item-action bg-primary text-white"
                                   asp-page="/Board/Index" asp-route-boardId="@Model.Preview[i].BoardId">@Model.Preview[i].BoardName</a>
                                @foreach (var post in Model.Preview[i])
                                {
                                    <a class="list-group-item list-group-item-action" asp-page="/Board/Detail" asp-route-postNumber="@post.PostNumber">@post.Title</a>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                @{ViewData["CurrentPage"] = "MainPage"; }
                @*<partial name="Sidebar" model="@Model.Preview" view-data="ViewData" />*@
            </div>
        </div>
    </div>
</body>