@page
@model NoName.Pages.CRUD.TableBoardCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TableBoard[0].BoardCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableBoard[0].BoardName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TableBoard) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BoardCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BoardNumber">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BoardNumber">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BoardNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<form method="get">
    <div>
        <a class="btn btn-outline-dark" asp-page-handler="JobID">JobID 먼저 생성해야댐</a>
        <a class="btn btn-outline-dark" asp-page-handler="MakeBoard">게시판 생성</a>
    </div>
</form>
