@*  20.03.12
    Pagination.cs를 이용해 화면에 Posting들을 페이지화하여 출력*@
@namespace NoName.Data.DbData
@model NoName.BackendClass.Paging.Pagination<PostModel>
@{
    ViewData["Title"] = "Pagination";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<ul class="pagination justify-content-center">
    <li class="page-item @prevDisabled">
        <a class="page-link" asp-page=@ViewData["BoardPage"] asp-page-handler="Page" asp-route-pages="@Model.Previous" asp-route-boardId="@ViewData["CurrentBoard"]">이전</a>
    </li>
    @{ int i = Model.StartPage;}
    @while (i <= Model.StartPage + Model.PageBarSize && i <= Model.TotalPages)
    {
        var currentDisabled = Model.IsCurrentPage(i) ? "disabled" : "";
        <li class="page-item @currentDisabled">
            <a class="page-link" asp-page=@ViewData["BoardPage"] asp-page-handler="Page" asp-route-pages="@i" asp-route-boardId="@ViewData["CurrentBoard"]" >@i</a>
        </li>
        i++;
    }

    <li class="page-item @nextDisabled">
        <a class="page-link" asp-page=@ViewData["BoardPage"] asp-page-handler="Page" asp-route-pages="@Model.Next" asp-route-boardId="@ViewData["CurrentBoard"]" >다음</a>
    </li>
</ul>