@*  20.03.12
    PageModel을 상속받은 모델을 사용하지 않고
    Pagination(페이지관리객체)을 모델로 둠  *@
@namespace NoName.Data.DbData
@model NoName.BackendClass.Paging.Pagination<TablePost>
@{
    ViewData["Title"] = "Pagination";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
@* 2페이지 이상부터 pagination 생성.
    asp-route-page => 경로 생성 안되서 asp-route-pages로 변경 *@

<ul class="pagination justify-content-center">
    <li class="page-item @prevDisabled">
        <a class="page-link" asp-page="/Board/Index" asp-page-handler="Page" asp-route-pages="@Model.Previous">이전</a>
    </li>
    @{ int i = Model.StartPage;}
    @while (i <= Model.StartPage + Model.PageBarSize && i <= Model.TotalPages)
    {
        var currentDisabled = Model.IsCurrentPage(i) ? "disabled" : "";
        <li class="page-item @currentDisabled">
            <a class="page-link" asp-page="/Board/Index" asp-page-handler="Page" asp-route-boardCode="@ViewData["CurrentBoard"]" asp-route-pages="@i">@i</a>
        </li>
        i++;
    }

    <li class="page-item @nextDisabled">
        <a class="page-link" asp-page="/Board/Index" asp-page-handler="Page" asp-route-pages="@Model.Next">다음</a>
    </li>
</ul>