@namespace NoName.Data.DbData
@inject NoName.Pages.Shared.SideBarListService sideBar
@{
    sideBar.ListNumber = 3;
    //임시 jobCode
    int jobCode = 100;
    List<TablePost> Hot = sideBar.ListHotPosts();
    List<TablePost> RealTime = sideBar.ListRealTimePosts();
    List<TablePost> Weekly = sideBar.ListWeeklyPosts();
}
@*
    Partial를 이용하여 SideBar 생성
    호출시 <partial name="full path"/>
*@
@*need to use icons*@
@* spacing class margin-bottom mb-* *@
<div class="mb-2">
    <form method="post" asp-page="/Board/FindResult">
        <div class="input-group">
            @*input의 앞에 고정시키는 클래스*@
            <div class="input-group-prepend">
                @*search icon 사용하여 input의 앞에 고정*@
                <span class="input-group-text fas fa-search"></span>
            </div>
            <input type="search" class="form-control" name="searchString" placeholder="전체 검색" />
        </div>
    </form>
</div>
<div class="card list-group mt-2">
    <a class="list-group-item list-group-item-action bg-primary text-white"
       asp-page="/Board/Index" asp-route-boardId="@Enumeration.BoardType.Hot.GetBoardId(jobCode)">@Enumeration.BoardType.Hot.Name</a>
    @foreach (var post in Hot)
    {
        <a class="list-group-item list-group-item-action" asp-page="/Board/Detail" asp-route-postNumber="@post.PostNumber">@post.Title</a>
    }
</div>
<div class="card list-group mt-2">
    <p class="list-group-item list-group-item-action bg-primary text-white">@Enumeration.BoardType.RealTime.Name</p>
    @foreach (var post in RealTime)
    {
        <a class="list-group-item list-group-item-action" asp-page="/Board/Detail" asp-route-postNumber="@post.PostNumber">@post.Title</a>
    }
</div>
<div class="card list-group mt-2">
    <p class="list-group-item list-group-item-action bg-primary text-white">@Enumeration.BoardType.Weekly.Name</p>
    @foreach (var post in Weekly)
    {
        <a class="list-group-item list-group-item-action" asp-page="/Board/Detail" asp-route-postNumber="@post.PostNumber">@post.Title</a>
    }
</div>