@namespace NoName.Data.DbData
@inject NoName.Services.SideBarListService sideBar
@{
    sideBar.ListNumber = 3;
    //임시 jobCode
    int jobCode = 1000;
    List<PostModel> Hot = sideBar.ListHotPosts();
    List<PostModel> RealTime = sideBar.ListRealTimePosts();
    List<PostModel> Weekly = sideBar.ListWeeklyPosts();
}
@*
    Partial를 이용하여 SideBar 생성
    호출시 <partial name="full path"/>
*@
@*need to use icons*@
@* spacing class margin-bottom mb-* *@
<div class="mb-2">
    <form method="post" asp-page="/Board/FindResult">
        <div class="input-group">
            @*input의 앞에 고정시키는 클래스*@
            <div class="input-group-prepend">
                @*search icon 사용하여 input의 앞에 고정*@
                <span class="input-group-text fas fa-search"></span>
            </div>
            <input type="search" class="form-control" name="searchString" placeholder="전체 검색" />
        </div>
    </form>
</div>
<div class="card list-group mt-2">
    <a class="list-group-item list-group-item-action bg-primary text-white"
       asp-page="/BoardPopular/Index" asp-page-handler="Board" asp-route-boardId="@Enumeration.PopularBoardType.Hot.GetBoardId(jobCode)">@Enumeration.PopularBoardType.Hot.Name</a>
    @foreach (var post in Hot)
    {
        <a class="list-group-item list-group-item-action" asp-page="/Board/Detail" asp-page-handler="Post" asp-route-postNumber="@post.PostNumber">@post.Title</a>
    }
</div>
<div class="card list-group mt-2">
    <p class="list-group-item list-group-item-action bg-primary text-white">@Enumeration.PopularBoardType.RealTime.Name</p>
    @foreach (var post in RealTime)
    {
        <a class="list-group-item list-group-item-action" asp-page="/Board/Detail" asp-page-handler="Post" asp-route-postNumber="@post.PostNumber">@post.Title</a>
    }
</div>
<div class="card list-group mt-2">
    <p class="list-group-item list-group-item-action bg-primary text-white">@Enumeration.PopularBoardType.Weekly.Name</p>
    @foreach (var post in Weekly)
    {
        <a class="list-group-item list-group-item-action" asp-page="/Board/Detail" asp-page-handler="Post" asp-route-postNumber="@post.PostNumber">@post.Title</a>
    }
</div>