@page
@model NoName.Pages.Mypage.NoteModel
@namespace NoName.Pages
@{
    ViewData["Title"] = "쪽지함";
    string number = "1";
    string content = "코로나3";
    string name = "형수";
    string today = DateTime.Now.ToString("MM.dd");
}
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <div class="note">
                    <div class="card">
                        <div class="card-body"><h1>@ViewData["Title"]</h1></div>
                    </div>
                    </br>
                    <form method="post">
                        @*글쓰기 페이지가 없는관계로 임시*@
                        <button class="btn btn-outline-dark" asp-area="" asp-page="/Mypage/WriteNote">작성하기</button>
                    </form>
                    </br>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-inbox-tab" data-toggle="tab" href="#nav-inbox" role="tab" aria-controls="nav-inbox" aria-selected="true">받은 쪽지함</a>
                            <a class="nav-item nav-link" id="nav-sent-tab" data-toggle="tab" href="#nav-sent" role="tab" aria-controls="nav-sent" aria-selected="false">보낸 쪽지함</a>
                            <a class="nav-item nav-link" id="nav-saved-tab" data-toggle="tab" href="#nav-saved" role="tab" aria-controls="nav-saved" aria-selected="false">보관한 쪽지함</a>
                        </div>
                    </nav>
                    @*코드 중복을 없애고 싶었는데 잘안됨...20.2.29
                        Grid System 적용하여 테이블 크기 고정 해야함*@
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-inbox" role="tabpanel" aria-labelledby="nav-inbox-tab">
                            <table class="table table-bordered table-hover">
                                <colgroup>
                                    <col width="10%" />
                                    <col width="60%" />
                                    <col width="20%" />
                                    <col width="10%" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="text-sm-center">#</th>
                                        <th class="text-sm-center">제목</th>
                                        <th class="text-sm-center">보낸 사람</th>
                                        <th class="text-sm-center">날짜</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < 1; i++)
                                    {
                                        @Html.Raw("<tr>");
                                        @Html.Raw("<td class=\"text-sm-center\">" + @number + "</td>");
                                        @Html.Raw("<td class=\"text-sm-center\">" + @content + "</td>");
                                        @Html.Raw("<td class=\"text-sm-center\">" + @name + "</td>");
                                        @Html.Raw("<td class=\"text-sm-center\">" + @today + "</td>");
                                        @Html.Raw("</tr>");
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-sent" role="tabpanel" aria-labelledby="nav-sent-tab">
                            <table class="table table-bordered table-hover">
                                @*Grid형식으로 사용시 Table border가 overlap되는 현상때문에
                                    colgroup으로 테이블 고정. 추후 여유시 보완*@
                                <colgroup>
                                    <col width="10%" />
                                    <col width="60%" />
                                    <col width="20%" />
                                    <col width="10%" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="text-sm-center">#</th>
                                        <th class="text-sm-center">제목</th>
                                        <th class="text-sm-center">보낸 사람</th>
                                        <th class="text-sm-center">날짜</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < 1; i++)
                                    {
                                        @Html.Raw("<tr>");
                                        @Html.Raw("<td class=\"text-sm-center\">" + @number + "</td>");
                                        @Html.Raw("<td class=\"text-sm-center\">" + @content + "</td>");
                                        @Html.Raw("<td class=\"text-sm-center\">" + @name + "</td>");
                                        @Html.Raw("<td class=\"text-sm-center\">" + @today + "</td>");
                                        @Html.Raw("</tr>");
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-saved" role="tabpanel" aria-labelledby="nav-saved-tab">
                            <table class="table table-bordered table-hover">
                                <colgroup>
                                    <col width="10%" />
                                    <col width="60%" />
                                    <col width="20%" />
                                    <col width="10%" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="text-sm-center">#</th>
                                        <th class="text-sm-center">제목</th>
                                        <th class="text-sm-center">보낸 사람</th>
                                        <th class="text-sm-center">날짜</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < 1; i++)
                                    {
                                        @Html.Raw("<tr>");
                                        @Html.Raw("<td class=\"text-sm-center\">" + @number + "</td>");
                                        @Html.Raw("<td class=\"text-sm-center\">" + @content + "</td>");
                                        @Html.Raw("<td class=\"text-sm-center\">" + @name + "</td>");
                                        @Html.Raw("<td class=\"text-sm-center\">" + @today + "</td>");
                                        @Html.Raw("</tr>");
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 bg-danger">
                <partial name="Sidebar" />
            </div>
        </div>
    </div>
</body>