<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NoName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        #sideBar {
            position: relative;
            width: 25%;
            float: right;
            margin: 5%;
        }
        #search{
             margin: 10px;
        }
        #realTime {
            margin: 10px;
        }

        #weeklyPost {
            margin: 10px;
        }

        #hotPost {
            margin: 10px;
        }
        #container{
            position: relative;
            width: 55%;
            float: left;
            margin: 5%;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NoName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">홈</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" id="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
   
    <div class="sideBar" id="sideBar">
        <div class="search" id="search">
            <input type="text" id="searchInput" class="form-control" placeholder="search" aria-label="search" aria-describedby="button-addon2">
            
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">search</button>
        </div>
        <div class="realtimePupularPost" id="realTime">
            <a href="#" class="list-group-item list-group-item-action active">
                실시간 인기글
            </a>
            <a href="#" class="list-group-item list-group-item-action">글1</a>
            <a href="#" class="list-group-item list-group-item-action">글2</a>
            <a href="#" class="list-group-item list-group-item-action">글3</a>
        </div>
        <div class="weeklyPost" id="weeklyPost">
            <a href="#" class="list-group-item list-group-item-action active">
                주간 인기글
            </a>
            <a href="#" class="list-group-item list-group-item-action">글1</a>
            <a href="#" class="list-group-item list-group-item-action">글2</a>
            <a href="#" class="list-group-item list-group-item-action">글3</a>
        </div>
        <div class="hotPost" id="hotPost">
            <a href="#" class="list-group-item list-group-item-action active">
                HOT 게시글
            </a>
            <a href="#" class="list-group-item list-group-item-action">글1</a>
            <a href="#" class="list-group-item list-group-item-action">글2</a>
            <a href="#" class="list-group-item list-group-item-action">글3</a>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - <a asp-area="" asp-controller="Home" asp-action="Index">NoName</a> -
            <button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("ServiceAgreement","Home")'"
                    asp-area="" asp-controller="Home" asp-action="ServiceAgreement">
                이용약관
            </button>
            <button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("Privacy","Home")'"
                    asp-area="" asp-controller="Home" asp-action="Privacy">
                개인정보처리방침
            </button>
            <button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("Rules","Home")'"
                    asp-area="" asp-controller="Home" asp-action="Rules">
                커뮤니티이용규칙
            </button>
            <button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("Notice","Home")'"
                    asp-area="" asp-controller="Home" asp-action="Notice">
                공지사항
            </button>
            <button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("Faq","Home")'"
                    asp-area="" asp-controller="Home" asp-action="Faq">
                문의사항
            </button>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
