@page
@model NoName.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "회원가입";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <!-- 생년월일 -->
            <div class="form-group">
                <label asp-for="Input.BirthDate"></label>
                <input asp-for="Input.BirthDate" class="form-control" />
                <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
            </div>
            <!-- 성별 -->
            <div class="form-group">
                <label asp-for="Input.Gender"></label>
                <input asp-for="Input.Gender" class="form-control" />
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            <!-- 직업 -->
            <div class="form-group">
                <label asp-for="Input.Job"></label>
                <input asp-for="Input.Job" class="form-control" />
                <span asp-validation-for="Input.Job" class="text-danger"></span>
            </div>
            <!-- SMS 수신여부 -->
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.ReceiveSMS">
                        <input asp-for="Input.ReceiveSMS" />
                        @Html.DisplayNameFor(m => m.Input.ReceiveSMS)
                    </label>
                </div>
                @*<label asp-for="Input.ReceiveSMS"></label>
                    <input asp-for="Input.ReceiveSMS" class="form-control" />
                    <span asp-validation-for="Input.ReceiveSMS" class="text-danger"></span>*@
            </div>

            <button type="submit" class="btn btn-primary">가입</button>
        </form>
    </div>

    <div>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            @*<button type="submit" class="btn btn-primary" onclick="@{Model.MakeMockUser(); };">임시계정</button>*@
            <a class="btn btn-primary" type="submit" asp-page-handler="MakeMockUser">임시계정</a>
        </form>
            
            @*<a type="submit" class="btn btn-primary" asp-action="@{Model.MakeMockUser(); };" value="임시계정"></a>*@
            @*<button type="submit" class="btn btn-primary" onclick="@{Model.MakeMockUser(); };">임시계정</button>*@
    </div>

    @*@
            </div>
        </div>


        @*다른 사이트 계정으로 회원가입*@
    @*<div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to register.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
